{% extends 'main.html' %}

{% block content %}

<h1 id="read-head">This is read page</h1>

<div id="read-div">
    <p id="read-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid at dicta, debitis temporibus nihil
        sed, quibusdam
        ipsum, libero aliquam molestiae natus eius minus exercitationem omnis possimus. Earum sit veritatis repudiandae
        possimus labore dolorum, nihil vero cumque consequatur porro, in eius quaerat maxime illo est a harum sed
        praesentium molestiae sunt.</p>
</div>

{% endblock content %}
